title = "avaleht"
url = "/"
layout = "default"
is_hidden = 0
==

<div class="hero-images">
    <img class="hero-img" src="/storage/app/media/header.png">
    <a href="{{ 'kingitus'|page }}"><img class="hero-link" src="/storage/app/media/hero_link.png"></a>
</div>


<div class="text-content">

    <h1>Eestile elatud elud</h1>


        {% content 'avaleht' %}


</div>