title = "kingitus"
url = "/kingitus"
layout = "default-without-buttons"
is_hidden = 0

[pakiautomaadidComponent]
==
<div class="text-content text-content--gift">

    <h1>Kingitus</h1>

    <img class="gift-img" src="/storage/app/media/img-kingitus.png">

    <h2>Sarja avaraamatu saadame sulle Eesti Vabariigi piires tasuta postkasti, kui annad siin all oma soovist meile teada hiljemalt 15. maiks 2017.</h2>

    <form class="gift-form" method="post"  id="gift-form" action="/telli-kingitus">

        <h2>* Tärniga on märgitud kohustuslikud väljad</h2>

        <ul class="form-list">
            <li>
                <label class="label" for="name">Eesnimi</label>
                <input class="input" id="name" name="eesnimi" type="text" />
            </li>

            <li>
                <label class="label" for="surname">* Perenimi / Firma</label>
                <input class="input validate" id="surname" name="perenimi" data-validate="required" type="text" />
            </li>

            <li>
                <label class="label" for="street">* Tänav või talu</label>
                <input class="input validate" id="street" name="uulits" data-validate="required" type="text" />
            </li>

            <li>
                <label class="label" for="house">Maja nr</label>
                <input class="input input--small" id="house" name="maja" type="text" />
            </li>

            <li>
                <label class="label" for="apartment">Korteri nr</label>
                <input class="input input--small" id="apartment" name="korter" type="text" />
            </li>

            <li>
                <label class="label" for="indeks">* Postiindeks</label>
                <input class="input validate input--small" id="indeks" name="indeks" data-validate="required|numeric" type="text" />
                <a class="index" target="_blank" href="https://www.omniva.ee/abi/sihtnumbrite_otsing">otsi siit</a>
            </li>

            <li>
                <label class="label" for="village">* Küla/asula, vald</label>
                <input class="input validate" id="village" name="asula" data-validate="required" type="text" />
            </li>

            <li>
                <label class="label" for="county">* Maakond</label>
                <select class="input validate" name="maakond" data-validate="required|not:1" id="county">
                    <option value="harjumaa">
                        Harjumaa
                    </option>
                    <option value="hiiumaa">
                        Hiiumaa
                    </option>
                    <option value="ida-virumaa">
                        Ida-Virumaa
                    </option>
                    <option value="jogevamaa">
                        Jõgevamaa
                    </option>
                    <option value="jarvamaa">
                        Järvamaa
                    </option>
                    <option value="laanemaa">
                        Läänemaa
                    </option>
                    <option value="laane-virumaa">
                        Lääne-Virumaa
                    </option>
                    <option value="polvamaa">
                        Põlvamaa
                    </option>
                    <option value="parnumaa">
                        Pärnumaa
                    </option>
                    <option value="raplamaa">
                        Raplamaa
                    </option>
                    <option value="saaremaa">
                        Saaremaa
                    </option>
                    <option value="tartumaa">
                        Tartumaa
                    </option>
                    <option value="valgamaa">
                        Valgamaa
                    </option>
                    <option value="viljandimaa">
                        Viljandimaa
                    </option>
                    <option value="vorumaa">
                        Võrumaa
                    </option>
                </select>
            </li>

            <li>
                <label class="label" for="email">* E-post</label>
                <input class="input validate" id="email" name="email" data-validate="required|email" type="text" />
            </li>

            <li>
                <label class="label" for="phone">Telefon</label>
                <input class="input" id="phone" name="telefon" type="text" />
            </li>

            <li>
                <label class="label" for="mobile">* Mobiiltelefon</label>
                <input class="input validate" id="mobile" name="mobiil" data-validate="required" type="text" />
            </li>

        </ul>

        <div class="disclaimer">
            <input type="checkbox" name="disclaimer" class="checkbox" id="disclaimer">
            <label for="disclaimer">Kinnitan, et olen päri <a href="#" data-featherlight="#modal">tellimuste üldtingimuste ja isikuandmete töötlemise põhimõtetega</a> ning nõustun saama Ekspress Meedia poolt saadetud reklaami ja teateid. Kui mul on küsimusi või kui ma ei soovi enam pakkumisi saada, siis annan sellest märku aadressil <a href="mailto:klienditugi@ekspressmeedia.ee">klienditugi@ekspressmeedia.ee</a> või helistan telefonil 680 4444.</label>
        </div>


        <h2>Juhul, kui tellin sarja 1. paki, siis soovin seda kätte saada:</h2>

        <ul class="courier-options">
            <li>
                <label for="transport-courier"><input checked="checked" type="radio" value="kuller" id="transport-courier" name="transport" class="courier">Kulleriga</label>
            </li>
            <li>
                <label for="transport-pakk"><input type="radio" id="transport-pakk" value="automaat" name="transport" class="courier">Omniva pakiautomaadiga</label>
            </li>

            <li class="omniva-post-select" id="automaadid" style="display:none">
                <label class="label" for="omniva-post">* Vali pakiautomaat</label>
                <select class="input" name="automaat" id="omniva-post">
                    {% set county = "" %}
                    {% for am in pakiautomaadidComponent.automaadid %}
                        {% if am.maakond != county %}
                            {% set county = am.maakond %}
                        <option value="" disabled>{{ am.maakond }}</option>
                        {% endif %}
                        <option value="{{ am.kood }}">{{ am.nimetus }}</option>
                    {% endfor %}
                </select>
            </li>
        </ul>


        <div id="gift-form-submit" class="btn btn--large">
            <div>Telli kingitus!</div>
        </div>


    </form>

    <div class="lightbox modal" id="modal">

       {% content 'tingimused' %}

    </div>

</div>

</div>