title = "kontakt"
url = "/kontakt"
layout = "default"
is_hidden = 0
==
<div class="text-content text-content--contact">

    <h1>Kontakt</h1>

    <div class="text-content-inner">

        {% content 'kontakt' %}    

    </div>

</div>