title = "Müügikohad"
url = "/muugikohad"
layout = "default"
is_hidden = 0

[myygikohad]
file = 2
==
<div class="text-content text-content--sales">

      <h1>Müügikohad</h1>

      <div class="text-content-inner">

        <p>Sarja üksikuid raamatuid saab osta paremini varustatud poodides alates 4. maist koos Maalehega (hind 1,60 eurot). Iga raamat on müügil vaid nädal aega!
Müügikohtade nimekirja paneme siia lehele üles aprillikuu lõpus.</a></p>

        <h2>Vali oma asukoht</h2>

        <select class="input" name="county" id="location"
                data-track-input
                data-request-update="muugikohad: '#muugikohad-partial'"
                data-request="onUpdateCounty">
            <option disabled selected>Vali maakond</option>
            <option value="harjumaa">Harjumaa</option>
            <option value="hiiumaa">Hiiumaa</option>
            <option value="ida-virumaa">Ida-Virumaa</option>
            <option value="jogevamaa">Jõgevamaa</option>
            <option value="jarvamaa">Järvamaa</option>
            <option value="laanemaa">Läänemaa</option>
            <option value="laane-virumaa">Lääne-Virumaa</option>
            <option value="polvamaa">Põlvamaa</option>
            <option value="parnumaa">Pärnumaa</option>
            <option value="raplamaa">Raplamaa</option>
            <option value="saaremaa">Saaremaa</option>
            <option value="tartumaa">Tartumaa</option>
            <option value="valgamaa">Valgamaa</option>
            <option value="viljandimaa">Viljandimaa</option>
            <option value="vorumaa">Võrumaa</option>
        </select>

          <div id="muugikohad-partial">
            {% partial 'muugikohad' %}

          </div>

      </div>

    </div>