title = "Müük ja tellimine"
url = "/muuk-ja-tellimine"
layout = "default-without-buttons"
is_hidden = 0
==
<div class="text-content text-content--sales-big">

    <h1>Müük ja tellimine</h1>

    <div class="text-content-inner">

        <div class="text-content-separator">

            <div class="text-content-separator__left">
                <img src="/storage/app/media/divider-short.png">
                <p>
                    {% content 'muuk-ja-tellimine' %}
                </p>
                <img src="/storage/app/media/divider-short.png">
            </div>

            <ul class="text-content-separator__right">
                <li><a target="_blank" href="http://www.lehed.ee/products/eestile-elatud-elud-nr-2-5"><img src="/storage/app/media/btn-kogusari.png"></a></li>
                <li><a target="_blank" href="http://www.lehed.ee/products/eestile-elatud-elud-nr-2-30"><img src="/storage/app/media/btn-maksakorraga.png"></a></li>
                <li><a target="_blank" href="http://www.lehed.ee/eestile-elatud"><img src="/storage/app/media/btn-yksikud.png"></a></li>
            </ul>

        </div>

    </div>

</div>

<div class="order-block order-block--sales">
    <img class="order-block__divider" src="/storage/app/media/divider.png">

    <img class="order-block__ml" src="/storage/app/media/logo_ml.png">

    <img class="order-block__eee" src="/storage/app/media/logo-EEE.png">

</div>