title = "raamatud"
url = "/raamatud"
layout = "default"
is_hidden = 0

[pakidComponent]
==

<div class="text-content text-content--books">

    <h1>Raamatud</h1>


    {% set nr = 1 %}


<!-- BOOKS LIST MARKUP FOR SCREENS OVER 900PX START -->

<ul class="books-list books-list--screens">
    {% for pakk in pakidComponent.pakid%}
    <li>
        <div class="book-list-item" style="background-color: {{ pakk.color }}">
            <div class="book-list-item__left">

                {% if pakk.type == 'pack' %}
                <span class="number">{{ pakk.nr }}</span>
                {% elseif pakk.type == 'free' %}
                <span class="free">TASUTA</span>
                {% endif %}

                <dl class="book-list-item__left__dates">

                    {% for raamat in pakk.raamatud %}
                        <dt>{{ nr < 10 ? '0' : '' }}{{ nr }}</dt>
                        <dd>{{ raamat.daatum }}</dd>
                        {% set nr = nr + 1 %}
                    {% endfor %}
                </dl>
            </div>

            <div class="book-list-item__right">
                {% for raamat in pakk.raamatud %}
                <p><a href="{{ 'raamat'|page({slug: raamat.slug}) }}">{{ raamat.formatedNames|raw }}</a></p>
                {% endfor %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


<!-- BOOKS LIST MARKUP FOR SCREENS OVER 900PX END -->

    {% set nr = 1 %}

    <ul class="books-list books-list--mobile">
        {% for pakk in pakidComponent.pakid %}

        <li>
            <div class="book-list-item" style="background-color: {{ pakk.color }}">
                <div class="book-list-item__left">
                    {% if pakk.type == 'pack' %}
                    <span class="number">{{ pakk.nr }}</span>
                    {% elseif pakk.type == 'free' %}
                    <span class="free">TASUTA</span>
                    {% endif %}                </div>

                <div class="book-list-item__right">
                    {% for raamat in pakk.raamatud %}
                    <p>
                        <span class="bold">
                        {{ nr < 10 ? '0' : '' }}{{ nr }}
                        {{ raamat.daatum }}
                        </span>
                        <a href="{{ 'raamat'|page({slug: raamat.slug}) }}">{{ raamat.formatedNames|raw }}</a>
                        {% set nr = nr + 1 %}

                    </p>
                    {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
