title = "raamat"
url = "/raamat/:slug"
layout = "default"
is_hidden = 0

[raamatComponent]
==

{% set raamat = raamatComponent.raamat %}

<div class="text-content text-content--book-detail">

    <div class="book-detail-divider">

        <div class="book-detail-divider__left">
            <img src="{{ raamat.pilt }}">
            <p>Ilmub: <b>{{ raamat.daatum }}</b></p>

            <ul class="buttons">
                {% if (raamatComponent.prevRaamat) %}
                <li><a href="{{ 'raamat'|page({slug:raamatComponent.prevRaamat}) }}"><div class="btn btn--medium {{ raamat.prevRaamat ? 'btn--greyed':'' }}">Eelmine</div></a></li>
                {% endif %}
                {% if (raamatComponent.nextRaamat) %}
                <li><a href="{{ 'raamat'|page({slug:raamatComponent.nextRaamat}) }}"><div class="btn btn--medium {{ raamat.nextRaamat ? 'btn--greyed':'' }}">Järgmine</div></a></li>
                {% endif %}

            </ul>

            <a href="{{ 'raamatud'|page }}" class="back-to-list">< Tagasi nimekirja</a>
        </div>

        <div class="book-detail-divider__right">
            <h1>{{ raamat.id }}. raamat</h1>

            <h2>{{ raamat.autor }}</h2>

            <h3>{{ raamat.nimi }}</h3>

            {{ raamat.sisu|raw }}
        </div>
    </div>
</div>