<h1>Tellimuste eksport</h1>

<p>Test nupp ei märgi tellimusi ekspordituks.</p>
<h3>Muudatused:</h3>
<p><b>30.03:</b> failid on .txt formaadis ja väljad on eraldatud <i>tab</i>'idega, sarnaselt eelmise aastaga.</p>
<p><b>01.04:</b> Tellija nimi muudeti formaadist "Perenimi, Eesnimi" formaati "Eesnimi Perenimi"</p>
<p><b>10.04:</b> Aadressil liigutasime maakonna kõige viimaseks; KATTETOIM_VIIS on 1, kui on kuller</p>

<p>Uusi tellimusi: <?= $tellimused->count(); ?></p>

<button type="button" data-request="onExport" data-request-data="real:1" class="btn btn-default">Ekspordi tellimused</button>
<button type="button" data-request="onExport" data-request-data="real:0" class="btn btn-default">Ekspordi tellimused (test)</button>


<?php if (\Session::has('newfile')){ ?>

<hr>
<h3>Uus fail</h3>
<form method="get" action="/backend/lightweber/raamatud/exports/getfile">
    <input type="hidden" name="file" value="<?= Session::get('newfile') ?>">
    <button type="submit"><?= Session::get('newfile') ?></button>
</form>
<hr>

<?php } ?>

<h3>Failid</h3>
<p>Uuemad on ennem</p>
<p>Kui peale vajutad, hakkab alla laadima</p>
<ul>
<?php foreach($files as $file){ ?>
    <li>
        <form method="get" action="/backend/lightweber/raamatud/exports/getfile">
            <input type="hidden" name="file" value="<?= $file ?>">
            <button type="submit"><?= $file ?></button>
        </form>
    </li>

<?php } ?>
</ul>