[viewBag]
==
<div class="order-block order-block--sub">
    <img class="order-block__divider" src="/storage/app/media/divider.png">

    <ul class="order-block__buttons">
        <li><div class="btn btn--large"><a href="{{ 'muuk-ja-tellimine'|page }}">Telli Sari!</a></div></li>
        <li><div class="btn btn--large"><a href="{{ 'kingitus'|page }}">Telli Kingitus!</a></div></li>
    </ul>

    <img class="order-block__ml" src="/storage/app/media/logo_ml.png">

    <img class="order-block__eee" src="/storage/app/media/logo-EEE.png">

</div>