[viewBag]

[staticMenu]
code = "main"
==
<!DOCTYPE html>
<html lang="est">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eestile elatud elud</title>


    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/themes/2017/assets/css/featherlight.css" media="screen">
    <link rel="stylesheet" href="/themes/2017/assets/css/hamburgers.css" media="screen">
    <link rel="stylesheet" href="/themes/2017/assets/css/global.css" media="screen">

    <script src="/themes/2017/assets/js/vendor/jquery-3.1.1.min.js" charset="utf-8"></script>
    {% framework %}


</head>
<body>
<script type="text/javascript">
    var pp_gemius_identifier = new String('nLE70oAZOJsWugg7nDBZy7QXHPv_IYcYf0CjljOqnxb.U7');
    function gemius_pending(i) { window[i] = window[i] || function() {var x = window[i+'_pdata'] = window[i+'_pdata'] || []; x[x.length]=arguments;};};
    gemius_pending('gemius_hit'); gemius_pending('gemius_event'); gemius_pending('pp_gemius_hit'); gemius_pending('pp_gemius_event');
    (function(d,t) {try {var gt=d.createElement(t),s=d.getElementsByTagName(t)[0],l='http'+((location.protocol=='https:')?'s':''); gt.setAttribute('async','async');
        gt.setAttribute('defer','defer'); gt.src=l+'://gaee.hit.gemius.pl/xgemius.js'; s.parentNode.insertBefore(gt,s);} catch (e) {}})(document,'script');
</script>


<div class="wrap">

    <header>

        <div class="menu-wrap">
            <div class="content-wrap">

                <div class="logo">
                    <img src="/themes/2017/assets/img/logo-ml30.png">
                </div>
                {% if staticMenu.menuItems %}
                <div class="mobile-nav">

                    <ul class="menu">
                {% partial staticMenu ~ "::items" items=staticMenu.menuItems %}
                    </ul>
                </div>
                {% endif %}

                <div class="buttons">

                    <div class="btn btn--menu-sari">
                        <a href="{{ 'muuk-ja-tellimine'|page }}">Telli sari!</a>
                    </div>

                    <button id="hamburger" class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                          <span class="hamburger-inner"></span>
                        </span>
                    </button>

                </div>
            </div>
        </div>

    </header>

    <div class="content-bg">

        <div class="content-wrap">