<p>Eesti on erakordselt rikas. Eestile elatud elud on erakordselt rikkad. Meil on ürgandekaid loojaid, nimekaid teadlasi, väärikaid riigimehi, ühiskonna oskuslikke suunajaid, mehi ja naisi, kellele oleme ja võib-olla jäämegi võlgu. Me kõik teame nende suuri tegusid, aga me ei tea nende tegude hinda.</p>

<p>Tänavu sügisel 30. sünnipäeva tähistav Maaleht on välja valinud 30 teost Eesti esinduslikest suurkujudest, kes on teinud meid uhkeks meie maa ja rahva üle. Need on elud, mis on elatud just meile. Need on elud, mis haaravad teisi kaasa elama. Need on Eestile elatud elud.</p>

<p><strong>Alates 4. maist 2017 ilmub 30 nädala jooksul koos Maalehega mastaapne raamatusari</strong>, mis koondab läbi elulooraamatute, päevikute, kirjavahetuste ja mälestuste endasse <strong>lood suurtest eestlastest, kes on Eestist teinud ime</strong>. See Eestis trükitud soliidsete, kõvakaaneliste köidetena ilmuv väärikas raamatukollektsioon on pühendus ja austusavaldus kõigile neile, kelle jaoks on Eestimaal oma südames vankumatu koht või keda huvitab ühe pisikese ning andeka riigi suureks saamise lugu.</p>

<p>Sarja avaraamatuks on <strong>Eesti suurima riigimehe Lennart Meri lugu</strong>, kirja pandud tema lähedase kaasvõitleja, ajakirjaniku ja kirjaniku Kulle Raigi poolt – „Vikerkaare värvid. Lennart Meri elu sõprade pilgu läbi“. Sarja esimese raamatuna maksab see poes 0,99 eurot. <strong>Edasi on iga raamatu hinnaks 5,99 eurot. Igal neljapäeval alates 4. maist ilmub koos Maalehega uus sarja raamat ja püsib müügil vaid nädal aega, kui enne otsa ei saa</strong>.</p>