<p><strong>Raamatud toimetatakse kohale viiest raamatust koosnevate pakkidena, paki viimase raamatu ilmumise järgsel nädalal ja Sinu poolt soovitud viisil: Omniva pakiautomaadi või kulleri abil. Ühe raamatu hind on 5,99 €. Postikulu ei lisandu.</strong></p>

<p>Sarja üksikuid raamatuid saab osta paremini varustatud poodides alates 4. maist koos Maalehega (hind 1,60 eurot). Iga raamat on müügil vaid nädal aega! Müügikohtade nimekirja saad näha <a href="http://raamatud.maaleht.delfi.ee/muugikohad"><strong>siit</strong></a>.</p>