<h2>Tellimise üldtingimused</h2>

<table>
	<tbody>
		<tr>
			<td>Ekspress Meedia</td>
			<td>äriühing AS Ekspress Meedia, registrikood 10586863, asukoht Narva mnt 13, Tallinn 10151</td>
		</tr>
		<tr>
			<td>Üldtingimused</td>
			<td>käesolevad tingimused veebilehe kasutamiseks, Väljaannete tellimiseks, andmete töötlemise põhimõtted ja küpsiste kasutamise põhimõtted</td>
		</tr>
		<tr>
			<td>Raamatusari</td>
			<td>Väljaandja poolt kirjastatav sari „Eestile elatud elud“</td>
		</tr>
		<tr>
			<td>Tellija</td>
			<td>eraisik või juriidiline isik, kellel on leping Ekspress Meediaga Väljaande tellimiseks</td>
		</tr>
		<tr>
			<td>Väljaandja</td>
			<td>Väljaannet kirjastav äriühing</td>
		</tr>
	</tbody>
</table>

<p>1. Tellija õigused</p>

<p>1.1. Tellijal on õigus tellida raamatusari Väljaandja poolt sätestatud hinnaga ja fikseeritud tingimustega.</p>

<p>1.2. Tellijal on õigus esitada raamatusarja kojukannet ja raamatusarja ennast puudutavaid pretensioone Väljaandja klienditeenindusse tel 680 4444 või klienditugi@ekspressmeedia.ee.</p>

<p>1.3. Tellijal on õigus nõuda tellimuse annulleerimist juhul, kui Väljaandja korduvalt rikub kokkuleppega talle pandud kohustusi. Tellimuse annulleerimiseks peab Tellija Väljaandjale esitama kirjaliku avalduse, milles on fikseeritud ka annulleerimise põhjus.</p>

<p>1.4. Tellijal on õigus oma tellimus ümber adresseerida. Ümber adresseerimiseks tuleb Tellijal pöörduda Väljaandja klienditeenindusse.</p>

<h3>
	<br>
</h3>

<h3>2. Tellija kohustused</h3>

<p>2.1. Tellimuse vormistamisel on Tellija kohustatud esitama tellimuse teostamiseks vajalikud andmed: ees- ja perekonnanimi, täpne aadress (tänav, maja nr, korteri nr, sihtnumber, linn/alev/asula/küla/maakond), kontakttelefon ning võimaluse korral e-posti aadress.</p>

<p>2.2. Juhul kui Tellija esitatud andmed on vigased ja/või puudulikud ega vasta punktis 2.1 fikseeritud nõuetele, ei garanteeri Väljaandja raamatusarja nõuetekohast kojukannet.</p>

<p>2.3. Raamatupakkide kohaletoimetamiseks kulleriga või Omniva pakiautomaati on Tellija kohustatud andma Väljaandjale mobiilinumbri.</p>

<p>2.4. Tellijal on turvaline, mõõtmetele vastav, lukustatav ning Tellija postkastina identifitseeritav postkast, kuhu postitatakse sarja avaraamat.</p>

<p>2.5. Tellija tagab turvalise ja vaba ligipääsu oma postkastile.</p>

<p>2.6. Tellija tasub tellimuse eest õigeaegselt ja täielikult. Vastasel juhul ei garanteeri Väljaandja raamatusarja sätestatud hinna ja fikseeritud tingimustega.</p>

<p>2.7. Tellimuse vormistamisega kinnitab Tellija, et on nõus kokkuleppes sätestatud tingimustega ning kursis raamatusarja puudutava kandeloogika ja tingimustega.</p>

<h3>
	<br>
</h3>

<h3>3. Väljaandja õigused</h3>

<p>3.1. Väljaandjal on õigus kehtestada raamatusarja tellimuse hind ja muud tellimistingimused.</p>

<p>3.2. Väljaandjal on õigus peatada või lõpetada raamatusarja osaline või täielik kirjastamine.</p>

<p>3.3. Juhul kui Tellija ei täida kokkuleppega talle pandud kohustusi, ei garanteeri Väljaandja tellimuse jõustumist ja/või nõuetekohast raamatusarja kojukannet.</p>

<p>3.4. Väljaandja garanteerib raamatud ainult ettemaksuarve/müügipakkumise maksetähtajaks tasunud Tellijatele.</p>

<p>3.5. Väljaandjal on õigus Tellija kontaktandmeid (nimi, aadress, telefon, meiliaadress) kasutada tulevaste tellimispakkumiste tegemiseks. Kui Tellija ei soovi eelnimetatud pakkumisi, tuleb Tellijal sellest informeerida kirjalikult Väljaandja klienditeenindust Narva mnt 13, 10151 Tallinn või e-posti aadressil klienditugi@ekspressmeedia.ee.</p>

<h3>
	<br>
</h3>

<h3>4. Väljaandja kohustused</h3>

<p>4.1. Juhul kui Tellija täidab kõik talle kokkuleppega pandud kohustused, garanteerib Väljaandja raamatusarja tellimuse vastavalt Väljaandja kehtestatud tingimustele.</p>

<p>4.2. Väljaandja kohustub Tellijani toimetama korrektse ja komplektse raamatusarja.</p>

<p>4.3. Väljaandja kohustub vastu võtma ja fikseerima kõik Tellija pretensioonid.</p>

<p>4.4. Väljaandja kohustub Tellija pretensiooni lahendama juhul, kui pretensiooni põhjused on Tellijast mittesõltuvad. Juhul kui pretensiooni põhjus on Tellija põhjustatud, peab Tellija selle kohe kõrvaldama.</p>

<h3>
	<br>
</h3>

<h3>5. ANDMETE TÖÖTLEMISE PÕHIMÕTTED</h3>

<h4>
	<br>
</h4>

<h4>Üldsätted</h4>

<p>5.1. Andmete töötlemise põhimõtted kehtivad Ekspress Meedia ja iga Kliendi suhtes.</p>

<h4>
	<br>
</h4>

<h4>Andmete kogumine</h4>

<p>5.2. Tellimuse vormistamisel jagunevad Kliendi poolt esitamisele kuuluvad andmed kohustuslikeks ning vabatahtlikult edastatavateks andmeteks.</p>

<p>5.3. Kohustuslikult tuleb Kliendil edastada järgmised andmeid:</p>

<p>5.3.1. Nimi – vajalik lepingu täitmiseks ja täitmise tagamiseks;</p>

<p>5.3.2. Elukoha aadress - on vajalik lepingu täitmiseks, sest juhul kui Ekspress Meediale ei ole Kliendi aadress teada ei ole võimalik lepingut täita, ehk tellitud Väljaannet kohale toimetada.</p>

<p>5.3.3. E-post/telefoni number - Kliendil on õigus valida, milliseid andmed ta Ekspress Meediale edasi annab. Millised kontaktandmed Klient Ekspress Meediale annab on Kliendi vaba valik, selleks võib olla kas telefoninumber ja/või e-posti aadress.</p>

<h4>
	<br>
</h4>

<h4>Andmete kogumine turunduslikul eesmärgil</h4>

<p>5.4. Kui Klient on andnud nõusoleku oma kontaktandmete kasutamiseks otseturunduse eesmärgil, siis edastatakse talle turundusliku iseloomuga teadaandeid Kliendi poolt Ekspress Meediale antud kontaktandmeid kasutades.</p>

<h4>
	<br>
</h4>

<h4>Andmete vastutav ja volitatud töötleja</h4>

<p>5.5. Kliendi andmete vastutav töötleja on AS Ekspress Meedia (registrikood 10004677, asukoht Narva mnt 13, Tallinn 10151).</p>

<p>5.6. Ekspress Meedia võib anda andmete kasutamiseks õiguse volitatud töötlejatele. Volitatud töötlejad on Ekspress Meedia koostööpartnerid, kes töötlevad andmeid muuhulgas:</p>

<p>5.6.1. teenuse osutamise eesmärgil;</p>

<p>5.6.2. teeninduslikul ja turunduslikul eesmärgil, v.a siis, kui kasutaja on otsustanud teisiti või hiljem vastava nõusoleku tagasi võtnud, teavitades sellest kirjalikku taasesitamist võimaldavas vormis;</p>

<p>5.6.3. täitmaks õigusaktidest tulenevaid kohustusi (nt andmete edastamine uurimisasutusele).</p>

<p>5.7. Volitatud töötleja võib andmeid töödelda üksnes Ekspress Meedia poolt antud konkreetsete ülesannete täitmiseks.</p>

<h4>
	<br>
</h4>

<h4>Andmete säilitamise aeg</h4>

<p>5.8. Ekspress Meedia säilitab andmeid nii kaua kui on vajalik andmete kasutamise eesmärgi saavutamiseks või seadusest tulenevate nõude aegumistähtaegade saabumiseni.</p>

<h4>
	<br>
</h4>

<h4>Kliendi õigused andmete kasutamisega seoses</h4>

<p>5.9. Kliendil on õigus saada Ekspress Meedialt teavet enda andmete kasutamise kohta seaduses sätestatud korras ja ulatuses;</p>

<p>5.10. Kliendil on õigus nõuda Ekspress Meedialt enda andmete kasutamise lõpetamist ning andmete parandamist, sulgemist ja kustutamist;</p>

<p>5.11. Kliendil on õigus nõustuda või keelata oma andmete kasutamine otseturunduseks või turunduslikel eesmärkidel;</p>

<p>5.12. Kliendil on õigus pöörduda oma õiguste kaitseks Andmekaitse Inspektsiooni ja kohtu poolt.</p>

<h3>
	<br>
</h3>

<h3>6. KÜPSISTE KASUTAMISE PÕHIMÕTTED</h3>

<h4>Küpsiste kasutamine</h4>

<p>6.1. Klientide paremaks teenindamiseks kasutavad Ekspress Meedia veebilehed küpsiseid ehk cookie’sid.</p>

<p>6.2. Ekspress Meediale kuuluvad domeenid võivad muuhulgas sisaldada elementi, mis salvestavad küpsiseid kolmandate isikute nimel.</p>

<p>Mis on küpsis ehk cookie?</p>

<p>6.3. Küpsis on tekstifail, mis saadetakse ja salvestatakse Kasutaja arvutisse veebilehtede poolt, mida kasutaja külastab. Küpsis salvestatakse Kasutaja veebilehitseja failikataloogis. Juhul, kui Kasutaja on veebilehte varem külastanud, loeb veebilehitseja küpsist ning edastab vastava teabe veebilehele või elemendile, mis küpsise algselt salvestas. Lisateave küpsiste kohta on kättesaadav veebilehel www.aboutcookies.org.</p>

<p>6.4. Küpsised võimaldavad jälgida veebilehe kasutusstatistikat, rubriikide populaarsusest ning muudest veebilehel tehtavatest toimingutest. Küpsisest saadavat teavet kasutatakse veebilehe kasutusmugavuse ja sisu parandamise eesmärgil.</p>

<h4>
	<br>
</h4>

<h4>Veebilehel kasutatavate küpsiste tüübid</h4>

<p>6.5. Püsiküpsised on hädavajalikud veebilehel ringi liikumiseks ja selle funktsioonide kasutamiseks. Püsiküpsiste puudumisel ei saaks Kasutaja kasutada kõiki veebilehe funktsioone.</p>

<p>6.6. Sessiooniküpsised võimaldavad veebilehel meelde jätta Kasutaja poolt tehtud varasemaid valikud (näiteks kasutajanimi, keelevalik jne) ning seeläbi pakkuda tõhusamaid ja isikupärasemaid funktsioone.</p>

<p>6.7. Jälgimisküpsised koguvad andmeid Kasutaja käitumisest veebilehel. Jälgimisküpsisest saadav informatsioon võimaldab tõsta veebilehe kasutusmugavust.</p>

<p>6.8. Reklaamküpsised koguvad andmeid Kasutaja sirvimisharjumuste kohta, mis omakorda võimaldab veebilehel esitada Kasutaja eelistustega kooskõlas olevat reklaamisisu. Lisaks võimaldab vastav küpsiseliik mõõta reklaamikampaania tõhusust.</p>

<h4>
	<br>
</h4>

<h4>Küpsistest keeldumine</h4>

<p>6.9. Kasutajal on õigus keelduda küpsiste salvestamisest arvutisse. Vastava soovi korral peab Kasutaja muutma oma veebilehitseja seadeid. Parema ülevaate saamiseks on soovituslik uurida Kasutaja veebilehitseja küpsiste haldamise suvandeid.</p>

<p>6.10. Eritüüpi veebilehitsejad kasutavad erinevaid meetodeid küpsiste keelamiseks. Täpsem informatsioon on kuvatud veebilehel www.aboutcookies.org.</p>

<p>6.11. Küpsiste blokeerimisel peab Kasutaja arvestama, et kõik veebilehe funktsioonid ei pruugi enam Kasutajale olla kättesaadavad.</p>